
.increased{
    font-size: 12px !important;
    color: rgb(248, 46, 46);
    font-family: 'Noto Sans', sans-serif;
    font-weight: bolder;
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fa-2x {
	font-size: 2em;
}

.fa-arrow-up:before {
	content: "\f062";
}

.bgcustom{
    background: linear-gradient(to right, #2980b9, #2c3e50); 
    color: white;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,th {
	padding: 0;
}

table {
	background-color: transparent;
	width: 60%;
}
table col[class*=col-] {
	position: static;
	display: table-column;
	float: none;
}
table td[class*=col-],table th[class*=col-] {
	position: static;
	display: table-cell;
	float: none;
}


.table {
	width: 100%;
	max-width: 100%;
	
}

.table-responsive {
	min-height: .01%;
	overflow-x: auto;
}
@media screen and (max-width:767px) {
	.table-responsive {
		width: 100%;
		margin-bottom: 15px;
		overflow-y: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		border: 1px solid #ddd;
	}
	.table-responsive>.table {
		margin-bottom: 0;
	}
	.table-responsive>.table>tbody>tr>td,.table-responsive>.table>tbody>tr>th,.table-responsive>.table>tfoot>tr>td,.table-responsive>.table>tfoot>tr>th,.table-responsive>.table>thead>tr>td,.table-responsive>.table>thead>tr>th {
		white-space: nowrap;
	}
	.table-responsive>.table-bordered {
		border: 0;
	}
	.table-responsive>.table-bordered>tbody>tr>td:first-child,.table-responsive>.table-bordered>tbody>tr>th:first-child,.table-responsive>.table-bordered>tfoot>tr>td:first-child,.table-responsive>.table-bordered>tfoot>tr>th:first-child,.table-responsive>.table-bordered>thead>tr>td:first-child,.table-responsive>.table-bordered>thead>tr>th:first-child {
		border-left: 0;
	}
	.table-responsive>.table-bordered>tbody>tr>td:last-child,.table-responsive>.table-bordered>tbody>tr>th:last-child,.table-responsive>.table-bordered>tfoot>tr>td:last-child,.table-responsive>.table-bordered>tfoot>tr>th:last-child,.table-responsive>.table-bordered>thead>tr>td:last-child,.table-responsive>.table-bordered>thead>tr>th:last-child {
		border-right: 0;
	}
	.table-responsive>.table-bordered>tbody>tr:last-child>td,.table-responsive>.table-bordered>tbody>tr:last-child>th,.table-responsive>.table-bordered>tfoot>tr:last-child>td,.table-responsive>.table-bordered>tfoot>tr:last-child>th {
		border-bottom: 0;
	}
}

tr.collapse.in {
	display: table-row;
}
tbody.collapse.in {
	display: table-row-group;
}

@media (max-width:767px) {
	.visible-xs {
		display: block!important;
	}

	table.visible-xs {
		display: table!important;
	}

	tr.visible-xs {
		display: table-row!important;
	}

	td.visible-xs,th.visible-xs {
		display: table-cell!important;
	}
}
@media (min-width:768px) and (max-width:991px) {
	.visible-sm {
		display: block!important;
	}
	table.visible-sm {
		display: table!important;
	}
	tr.visible-sm {
		display: table-row!important;
	}
	td.visible-sm,th.visible-sm {
		display: table-cell!important;
	}
}
@media (min-width:992px) and (max-width:1199px) {
	.visible-md {
		display: block!important;
	}

	table.visible-md {
		display: table!important;
	}

	tr.visible-md {
		display: table-row!important;
	}

	td.visible-md,th.visible-md {
		display: table-cell!important;
	}
}

@media (min-width:1200px) {
	table.visible-lg {
		display: table!important;
	}

	tr.visible-lg {
		display: table-row!important;
	}

	td.visible-lg,th.visible-lg {
		display: table-cell!important;
	}
}

